.contactMain {
    background: $mainBackground;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;

        @include mq640 {
            flex-direction: column;
        }

        .contact {
            width: 35%;
            padding: 2%;
            background: white;

            @include mq640 {
                width: 100%;
            }

            ul:nth-of-type(1) {
                display: flex;
                list-style: none;
                padding: 0;

                li {
                    margin-right: 25px;
                    font-size: 2.5rem;
                }
            }

            p {
                font-size: 2.5rem;
            }

            ul:nth-of-type(2) {
                list-style: none;
                padding: 0;
                font-size: 2rem;
                font-family: 'Cabin', sans-serif;
                line-height: 40px;
            }
        }

        form {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include mq640 {
                width: 100%;
                margin-top: 50px;
            }
            @include form;
        }
    }
}